/* Change font of all paragraph text */
body {
  font-size: 0.95em;
}

.sidebar-header img {
  max-height: 65px;  /* Adjust size as needed */
  width: auto;
}

.sidebar .sidebar-title {
  color: white !important;
}